<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Simulator</title>
</head>
<script>
    fetch("/airports")
    .then(response => {
        if(!response.ok){
            alert("Invalid response");
            return
        }
        return response.json()
    })
    .then(data => {
        console.log(data);
        t = document.getElementById("airports");
        t.innerText = data;
    })
</script>
<body>
    Welocome to Airport Simulator

    <p id="airports"></p>
</body>
</html>